main {
  min-height: 100vh;
  margin: 0;
  opacity: 0;
  transition: opacity var(--transition-duration--fast);
  pointer-events: none;

  .loaded & {
    opacity: 1;
    pointer-events: initial;
  }
}

.columns {
  margin: 0 var(--horizontal-padding);
  width: calc(100vw - (2 * var(--horizontal-padding)));
  height: 100vh;
  background: repeating-linear-gradient(
    to right,
    var(--yellow),
    var(--yellow) var(--column),
    transparent var(--column),
    transparent var(--full-column)
  );
  opacity: 0.15;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  display: none;
}

section {
  display: flex;
  flex-direction: column;

  @media (min-width: 1025px) {
    box-sizing: border-box;
    padding: 12rem var(--horizontal-padding);
  }
}

.section-intro {
  display: flex;

  @media (min-width: 1025px) {
    margin-bottom: 8rem;
  }
}

section.intro {
  justify-content: center;
}
