@font-face {
  font-family: "Aktiv";
  src: url("/assets/font/AktivGrotesk-Regular.woff2") format("woff2"),
    url("/assets/font/AktivGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Adieu";
  src: url("/assets/font/Adieu-Regular.woff2") format("woff2"),
    url("/assets/font/Adieu-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
